---
import Layout from '../layouts/Layout.astro';
import {songsCollection} from "../content/collections";
import Select from '../components/Select.svelte';
import SongList from '../components/SongList.astro';

---

<Layout title="Meow">
    <main>
        <Select songs={songsCollection} client:only></Select>
        <SongList songs={songsCollection}></SongList>
    </main>
</Layout>

<style>

</style>
